/* 공통 선택자 */
* {
  font-family: 'Noto Sans KR', sans-serif;
}

html , body {
  color : #000;
  background-color: #F1F1F2;
}

a { 
  color: #000;
  text-decoration: none;
}

.main__wrap {
  margin-top: 70px;
}

img {
  display: block;
}