/* header 영역 */
.header {
  background-color: #94D493;
  color: #fff;
  position: fixed;
  top: 0px;
  z-index: 10;
  width: 100%;
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  /* border-bottom: 1px solid #000; */
}

@font-face {
  font-family: 'UhBeeSe_hyun';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_five@.2.0/UhBeeSe_hyun.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

.logo {
  font-family: 'UhBeeSe_hyun';
}

/* 로그아웃시 보이는 헤더  */
.header .logo {
  margin-left: 50px;
  font-size: 25px;
  font-weight: 700;
}

.header .header__end {
  margin-right: 50px;
}

.header .header__end a:first-child {
  margin-right: 20px;
}

.header__end > a {
  font-weight: bold;
}

/* 로그인시 보이는 헤더 */
.header__end--logout {
  display: none;
  margin-right: 50px;
  justify-content: center;
  align-items: center;
}

.header__end--logout > a {
  float: left;
  margin-right: 20px;
  height: 70px;
  display: flex;
  align-items: center;
  font-weight: bold;
}

.header__Profile {
  height: 70px;
  display: flex;
  align-items: center;
}

#headerProfileView {
  width: 45px;
  height: 45px;
  border-radius: 50px;
  object-fit: cover;
  cursor: pointer;
  box-sizing: border-box;
  /* border: 1px solid #B2B2B2;
  padding: 2px; */
}