* {
  font-family: "Noto Sans KR", sans-serif;
}

.main__wrap {
  /* height: 3000px; */
  display: flex;
  justify-content: center;
  margin: 5% auto 0 auto;
}

.container {
  display: flex;
  flex-wrap: wrap;
  max-width: 980px;
  width: inherit;
  grid-gap: 40px;
  margin: 5% 0 5% 0;
}

/* card하나의 크기 */
.product {
  box-sizing: border-box;
  width: 300px;
  height: 350px;
  border-radius: 20px;
  overflow: hidden;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.product:hover {
  /* margin-bottom: 40px; */
  transform: scale(1.02);
}

.main__card {
  display: flex;
  justify-content: center;
}

/* background-img */
.thumbnail {
  /* display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; */
  background-repeat: no-repeat;
  background-size: cover;
  height: 70%;
  width: 100%;
}
/* 내용  */
.description {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 30%;
  background-color: ghostwhite;
}

.title {
  margin: 3px 0px 8px 0px;
  font-weight: bold;
  font-size: 17px;
  text-overflow: ellipsis;
  overflow: hidden;
  width: 280px;
  white-space: nowrap;
  display: block;
  text-align: center;
}

.nicknames {
  margin: 3px 0px 8px 0px;
}

.date {
  margin: 3px 0px 0px 0px;
  color: gray;
  font-size: 15px;
}

.card__nickname {
  color: #434242;
  font-weight: bold;
}
