* {
  font-family: 'Noto Sans KR', sans-serif;
}

a { 
  color: inherit;
  text-decoration: none;
}


/* 헤더 */
@font-face {
  font-family: 'UhBeeSe_hyun';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_five@.2.0/UhBeeSe_hyun.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

.logo {
  font-family: 'UhBeeSe_hyun';
}

/* header 영역 */
 .edit-header {
  background-color: #94D493;
  color: #fff;
  position: fixed;
  top: 0px;
  z-index: 10;
  width: 100%;
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: space-between;
} 

.edit-header .logo {
  margin-left: 50px;
  font-size: 25px;
  font-weight: 700;
}

.edit-header__end {
  margin-right: 50px;
}

.edit-header__end a:first-child {
  margin-right: 20px;
}

.edit-header__end--logout {
  display: none;
  margin-right: 50px;
  justify-content: center;
  align-items: center;
}

.edit-header__end--logout > a {
  float: left;
  margin-right: 20px;
  height: 70px;
  display: flex;
  align-items: center;
}


/* 글 상세 페이지 */
* {
  box-sizing: inherit;
}
html {
  scroll-behavior: smooth;
}
div article section {
  display: block;
}
body {
  margin: 0;
  font-family: sans-serif;
  box-sizing: border-box;
  min-height: 100%;
  background-color: #f1f1f2;
}
/* Top scroll button */
#top__scroll-Btn {
  display: none;
  position: fixed;
  bottom: 50px;
  right: 30px;
  width: 50px;
  height: 50px;
  z-index: 99;
  font-size: 18px;
  border: none;
  outline: none;
  background-color: #94D493;
  color: #fff;
  cursor: pointer;
  padding: 9px;
  border-radius: 50%;
  margin: 0;
}
/* 마우스 hover 옵션 */
#top__scroll-Btn:hover {
  background-color: #94D493;
  opacity:0.7;
  transition: 0.3s;
}
/* 상세페이지  */
.foodContent__wrap {
  max-width: 1000px;
  width: 100%;
  display: flex;
  flex-direction: column;
  margin: 15px auto 40px auto;
  padding: 50px;
  background-color: #fff;
}

.post__btn {
  width: 1000px;
  margin: 110px auto 0 auto;
  display: flex;
  justify-content: end;
  
}

.post__btns{
  width: 105px;
  height: 35px;
  margin-right: 20px;
  border-radius: 20px;
  border: 1px solid #434242;
  background-color: #434242;
  color: #fff;
  cursor: pointer;
  display: none;
}


/* 사이드 바 */

ul {
  list-style: none;
  direction: none;
}
@media (max-width: 1300px) {
  .post__side-bar {
    display: none;
  }
}
.post__side-bar {
  position: sticky;
  max-width: 300px;
  max-height: 350px;
  float: right;
  top: 400px;
  right: 50px;
}

.foodContent__post-Header {
  padding-left: 10px;
}

.post__side-bar-title {
  text-align: center;
  display: block;
}

.post__side-bar-title::after {
  content: "";
  display: block;
  width: 70%;
  border-bottom: 1px solid #e1e1e1;
  padding-bottom: 10px;
  margin-left: 15%;
}
.post__side-bar ul.post__side-bar-list {
  margin-top: 20px;
}

.post__side-bar-list li a {
  display: block;
  font-size: 15px;
  line-height: 15px;
  color: #000;
  overflow: hidden;
  margin: 0 0 15px 0;
  letter-spacing: -1px;
}
.post__side-bar-list li a span {
  float: left;
  margin-left: 0;
}
.post__side-bar-list li a span.num {
  width: 20px;
  color: red;
  font-size: 15px;
  font-weight: bold;
  text-align: center;
  padding-left: 100px;
}
.post__side-bar-list li a span.txt {
  max-width: calc(100% - 20px);
  text-overflow: ellipsis;
  white-space: nowrap;
  word-wrap: normal;
  width: inherit;
  overflow: hidden;
  border-bottom: 1px solid transparent;
}


/* 게시글 title */
.foodContent__post-Header {
  font-size: 2.2rem;
  /* 줄간격 */
  line-height: 120%;
}
.foodContent__get-title {
  font-size: 29px;
  font-weight: bold;
}

.foodContent__get-title span {
  font-size: 18px;
  font-weight: 400;
}
.foodContent__user-Date {
  margin-top: 10px;
  display: flex;
  gap: 15px;
  align-items: center;

  padding-bottom: 20px;
  padding-left: 10px;
  border-bottom: 2px solid #f2f2f2;
}

.foodContent__user-Name {
  font-size: 1.2rem;
}

.foodContent__user-img{
  height: 40px;
  width: 40px;
  border-radius: 140px;
}

.foodContent__post-Url {
  padding-bottom: 10px;
  border-bottom: 2px solid #f2f2f2;
  margin-top: 10px;
  font-size: 15px;
  color: #c7c7c7;
  display: flex;
}

.url-lmg {
  width: 17px;
  margin-left: 4px;
  opacity: 0.3;
}

.foodContent__register-Date {
  border-left: 2px solid #f2f2f2;
  padding-left: 10px;
}

/* 게시글 내용란 */
.foodContent__post-Content {
  display: flex;
  justify-content: center;
  margin-top: 30px;
  margin-bottom: 50px;
  min-height: 300px;
  width: 900px;
}

#contentImgUrl {
  width: 900px;
}

#contentImgUrl > img {
  width: 80%;
  object-fit: cover;
  margin-bottom: 10px;
  padding: 0 10px;
}

.contentText {
  padding: 0 10px;
}

.foodContent__post-Content #content-txt{
  text-align: center;
  padding: 0 10px;
}

/* 게시글 좋아요, 수정, 삭제 */
.foodContent__btn-wrap {
  width: 100%;
  padding-bottom: 20px;
  border-bottom: 2px solid #f2f2f2;
  margin-bottom: 20px;
}
.foodContent__btn-wrap button {
  width: 50px;
  background-color: transparent;
  border: none;
  cursor: pointer;
  font-size: 14px;
}

.foodContent__btn-wrap .foodContent__post-like {
  width: 100px;
}
/* 코멘트 */
.comment {
  font-family: inherit;
  font-size: 100%;
  line-height: 1.5;
  min-width: 100%;
  min-height: 100px;
  margin-top: 10px;
}
.comment__btn-wrap {
  float: right;
  text-align: right;
}
/* 댓글 버튼 */
.comment__btn-wrap button {
  width: 50px;
  height: 30px;
  font-size: 15px;
  border-radius: 15%;
  background-color: rgba(0, 0, 0, 0);
  border: 1px solid;
  margin-top: 10px;
  cursor: pointer;
}
.comment__btn-wrap button:hover {
  color: white;
  background-color: #000;
}

.post__btn > button {
  
}
